
.main_title{
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
    font-size: 85px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3%
}

.sec_title{
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    margin: 50px 0;
    font-size: 40px;
    font-weight: 600;
    color: purple
}