.tab {
  font-size: 30px;
}

.container-flex {
  padding: 2%;
}

.nav-item {
  padding: 2px;
}

.nav-tabs {
  padding: 35px 25px 0 25px;
  border-bottom: 1px solid darkgray;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black;
  border-color: darkgray darkgray transparent;
}

.nav-link {
  color: rgb(183 178 178 / 62%);
  margin-right: 6px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-color: #e9ecef #e9ecef transparent;
  isolation: isolate;
  
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-bottom: transparent;
}
