<nav class="container-fluid">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active tab"
      id="nav-hungry-tab"
      routerLink="/stay-hungry"
      data-bs-toggle="tab"
      data-bs-target="#nav-hungry"
      type="button"
      role="tab"
      aria-controls="nav-hungry"
      aria-selected="true"
    >
      Stay Hungry
    </button>
    <button
      class="nav-link tab"
      id="nav-foolish-tab"
      routerLink="/stay-foolish"
      data-bs-toggle="tab"
      data-bs-target="#nav-foolish"
      type="button"
      role="tab"
      aria-controls="nav-foolish"
      aria-selected="false"
    >
      Stay Foolish
    </button>
  </div>
</nav>
