
.foolish_p{
    font-weight: 500;
    font-size:25px;
    padding:40px 25px;
}

.rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
    font-size:30px;
  }

.img{
    display: flex;
    justify-content: center;
}